<ion-header>
  <ion-navbar>
    <ion-title>Colheita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Marcar colheita</h3>
    <ion-card *ngFor="let item of list">
    <ion-item *ngIf="item.key == itemColher">
      <ion-card-content>
        <ion-card-title>
          <span>{{item.cultura}} - {{item.variedade}}</span>
          <p>{{item.fazenda}} - {{item.area}}</p>
          <p>Plantado dia: {{item.data}}</p>
        </ion-card-title>
        <ion-item>
          <ion-input type="text" placeholder="Sacas colhido:" [(ngModel)]="sacas"></ion-input>
        </ion-item>
        <ion-item>
          <ion-datetime displayFormat="DD MM YY" placeholder="Data da Colheita" doneText="Ok"
          cancelText="Cancelar"[(ngModel)]="dataColheita"></ion-datetime>
        </ion-item>
        <div padding>
          <button ion-button (click)="salvaColheita(sacas, dataColheita, item)" 
          [disabled]="!sacas || !dataColheita || sacas < 1 || dataColheita == ''">Salvar</button>
        </div>
      </ion-card-content>
    </ion-item>
    </ion-card>

</ion-content>
