
<ion-header>
  <ion-navbar>
    <ion-title>aplicacao</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- nome da aplicação -->
      <ion-item>
          <ion-input type="text" placeholder="Nome da aplicação:" [(ngModel)]="nomeAplicacao"></ion-input>
      </ion-item>
      <!-- seleciona area -->
      <ion-item>
          <ion-label>Selecione a area</ion-label>
          <ion-select okText="OK" cancelText="Cancelar" [(ngModel)]="areaSelecionada">
            <ion-option *ngFor='let area of areas'>{{area.name}}</ion-option>
          </ion-select>
      </ion-item>
      <!-- seleciona insumos -->
      <ion-item>
        <ion-label>Selecione o(s) insumos</ion-label>
        <ion-select okText="OK" cancelText="Cancelar" [(ngModel)]="insumosSelecionado">
          <ion-option *ngFor='let insumo of insumos'>{{insumo.produto}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-input type="text" placeholder="Dosagem:" [(ngModel)]="dosagem"></ion-input>
    <div padding>
        <button ion-button (click)="addDosagem(produto, quantidade, unidadeSelecionada)" 
        [disabled]="!produto || !quantidade || !unidadeSelecionada || produto < 1 && quantidade < 1 && unidadeSelecionada == ''">Salvar</button>
    </div>
  </ion-list>
</ion-content>
